In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Massakory,TD,2021-04-24 17:09:48,12.9960,15.7293,101.93,9,100,5.48
1,1,Port Alfred,ZA,2021-04-24 17:09:49,-33.5906,26.8910,68.38,84,51,10.87
2,2,Nizhnyaya Tavda,RU,2021-04-24 17:09:49,57.6731,66.1725,44.64,49,100,7.61
3,3,Punta Arenas,CL,2021-04-24 17:05:39,-53.1500,-70.9167,50.00,76,96,5.75
4,4,Kemin,KG,2021-04-24 17:09:49,42.7846,75.6892,50.02,40,100,4.70

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Cabo San Lucas,MX,2021-04-24 17:09:50,22.8909,-109.9124,80.01,41,1,8.05
13,13,Itarema,BR,2021-04-24 17:09:52,-2.9248,-39.9167,83.41,78,65,14.47
16,16,Hobyo,SO,2021-04-24 17:09:53,5.3505,48.5268,84.25,69,37,13.62
20,20,Palimbang,PH,2021-04-24 17:09:54,6.2106,124.1894,79.45,77,81,4.63
25,25,Gurupa,BR,2021-04-24 17:09:55,-1.4050,-51.6400,81.95,87,89,2.93
27,27,Rikitea,PF,2021-04-24 17:09:46,-23.1203,-134.9692,78.60,71,100,15.43
28,28,Hithadhoo,MV,2021-04-24 17:09:56,-0.6000,73.0833,83.53,69,41,6.62
30,30,La Libertad,EC,2021-04-24 17:09:57,-2.2333,-80.9000,80.60,74,0,8.05
32,32,Tubuala,PA,2021-04-24 17:09:58,9.5167,-79.0333,87.80,62,40,3.44
33,33,Cayenne,GF,2021-04-24 17:09:58,4.9333,-52.3333,78.80,94,90,5.75

In [18]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
8   Cabo San Lucas      MX     80.01  22.8909 -109.9124
13         Itarema      BR     83.41  -2.9248  -39.9167
16           Hobyo      SO     84.25   5.3505   48.5268
20       Palimbang      PH     79.45   6.2106  124.1894
25          Gurupa      BR     81.95  -1.4050  -51.6400
27         Rikitea      PF     78.60 -23.1203 -134.9692
28       Hithadhoo      MV     83.53  -0.6000   73.0833
30     La Libertad      EC     80.60  -2.2333  -80.9000
32         Tubuala      PA     87.80   9.5167  -79.0333
33         Cayenne      GF     78.80   4.9333  -52.3333

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Cabo San Lucas,MX,80.01,22.8909,-109.9124,Hotel Tesoro Los Cabos
13,Itarema,BR,83.41,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
16,Hobyo,SO,84.25,5.3505,48.5268,Halane Hotel and Restaurent
20,Palimbang,PH,79.45,6.2106,124.1894,Felmar Beach resort
25,Gurupa,BR,81.95,-1.4050,-51.6400,Residencial DWD
27,Rikitea,PF,78.60,-23.1203,-134.9692,Pension Maro'i
28,Hithadhoo,MV,83.53,-0.6000,73.0833,Scoop Guest House
30,La Libertad,EC,80.60,-2.2333,-80.9000,Playa Canela Hotel Boutique
32,Tubuala,PA,87.80,9.5167,-79.0333,Río Nabagana
33,Cayenne,GF,78.80,4.9333,-52.3333,Hôtel Le Dronmi

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))